.Container {
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 100%;
}

.Title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.EditFields {
  display: grid;
  grid-column-gap: 10%;
  grid-row-gap: 0.5rem;
  grid-template-columns: 20% 70%;
  grid-template-rows: repeat(auto-fill, 1.25rem);

  width: 100%;
}

.EditFields label {
  grid-column: 1;
  font-weight: bold;
}

.EditFields p,
.EditFields input {
  grid-column: 2;
}

.NameInput {
  font-size: 1rem;
  line-height: 100%;
}

.CompletedInput {
  height: 100%;
  width: fit-content;
}

.Submit {
  background-color: #4b0082;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.25rem;
  width: 80%;
}

@media screen and (min-width: 768px) {
  .Container {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .Container {
    width: calc(100% / 3);
  }
}
