.Container {
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 100%;
}

.Title {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.FormControl {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.FormInput {
  flex-grow: 1;
  font-size: 1rem;
}

.FormSubmit {
  background-color: #4b0082;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.25rem;
}

@media screen and (min-width: 768px) {
  .Container {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .Container {
    width: calc(100% / 3);
  }
}
