.Container {
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
}

.Container:hover,
.Container:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Name {
  font-size: 1.5rem;
  font-weight: normal;
}

.Completed {
  text-decoration: line-through;
}

.Controls svg:first-child {
  margin-right: 0.5rem;
}

.Icons {
  color: red;
}

@media screen and (min-width: 768px) {
  .Container {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .Container {
    width: calc(100% / 3);
  }
}
